<!DOCTYPE html>

<html ng-app="ToWorkflow">
    <head>
        <title>ToWorkflow</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
        
        <script src="//cdn.firebase.com/v0/firebase.js"></script>
        <script src='//cdn.firebase.com/v0/firebase-simple-login.js'></script>
        <script src="//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
        
        <script src="multiSortable.js"></script>
        <script src="JSONedit.js"></script>
        <link href="JSONedit.css" rel="stylesheet"/>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css" rel="stylesheet"/>
        
        <script src="app.js"></script>
        <style>
/*ol.workflowTracker {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style-type none;*/
/*}*/
/*ol.workflowTracker li {*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    line-height: 3em;*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*}*/
        </style>
    </head>
    <body>
    
        <script type="text/ng-template" id="/login.html">
            <h3>{{ (createNew)?'Register':'Login' }}</h3>
            <ul class="nav nav-tabs">
                <li ng-class="(createNew)?'':'active'"><a ng-click="createNew = false">Existing User</a></li>
                <li ng-class="(createNew)?'active':''"><a ng-click="createNew = true">New User</a></li>
            </ul>
            <form role="form">
                <div class="form-group">
                    <label>Email:
                        <input type="email" class="form-control" placeholder="Enter email"
                            ng-model="email"></label>
                </div>
                <div class="form-group">
                    <label>Password:
                        <input type="password" class="form-control" placeholder="Password"
                            ng-model="password"></label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" class=""
                            ng-model="rememberMe"/>
                    Remember Me</label>
                </div>
                
                <button type="submit" class="btn btn-default" 
                    ng-hide="createNew" ng-click="Login()">
                    Login</button>
                <button type="submit" class="btn btn-default"
                    ng-show="createNew" ng-click="Create()">
                    Register</button>
            </form>
        </script>
        
         <script type="text/ng-template" id="/task-detail.html">
            
             <h1>Editing: {{data.task[id].name}}</h1>
             <div class="jsonView" defocus>
                <json child="data.task[id]" type="'object'"></json>
            </div>
            
            <button class="btn btn-default" ng-click="Save()">Save</button>
         </script>
        
        <script type="text/ng-template" id="/task-list.html">
            <h3>Tasks</h3>
            <ul ng-hide="true">
                <li ng-repeat="(id, task) in data.tasks" ng-hide="task.hidden">
                    <a href="#/tasks/{{id}}"><label title="{{task.workflow}}">{{task.name}}</label></a>
                     ({{task.step}})
                     <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs"
                            ng-show="NextStep(task).length > 0"
                            ng-click="task.step = NextStep(task)">
                            Advance to {{NextStep(task)}}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                            <span ng-hide="NextStep(task).length > 0">Change to</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="step in data.workflows[task.workflow].steps"
                                ng-hide="task.step === step.name">
                                <a ng-click="task.step = step.name">{{step.name}}</a>
                            </li>
                        </ul>
                     </div>
                </li>
            </ul>
            
            
             <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="(id, task) in data.tasks" ng-hide="task.hidden">
                        <th><a href="#/tasks/{{id}}"><label title="Workflow {{task.workflow}}">{{task.name}}</label></a></th>
                        <td title="Current step">{{task.step}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs"
                                    ng-show="NextStep(task).length > 0"
                                    ng-click="task.step = NextStep(task)">
                                    Advance to {{NextStep(task)}}
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                    <span ng-hide="NextStep(task).length > 0">Change to</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="step in data.workflows[task.workflow].steps"
                                        ng-hide="task.step === step.name">
                                        <a ng-click="task.step = step.name">{{step.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td><span class="btn pull-right glyphicon glyphicon-trash"
                                ng-click="Delete(id)"></span></td>
                    </tr>
                    
                </tbody>
             </table>
            
             <table class="table table-hover"  ng-hide="true">
                <thead>
                    <tr>
                        <th></th>
                        <th>Workflow</th>
                        <th>Current</th>
                        <th>Next</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(id, task) in data.tasks" ng-hide="task.hidden">
                        <th><a href="#/tasks/{{id}}">{{task.name}}</th>
                        <td>{{task.workflow}}</td>
                        <td>{{task.step}}</td>
                        <td><button class="btn btn-default btn-xs"
                                ng-show="NextStep(task).length > 0"
                                ng-click="task.step = NextStep(task)">{{NextStep(task)}}</button>

                        </td>
                    </tr>
                </tbody>
             </table>
        </script>
        
        <script type="text/ng-template" id="/workflows-list.html">
        
            <h3>Workflows</sh3>
            <table class="table table-hover">
                <tbody ng-repeat="(workflowName, workflow) in workflows">
                    <tr><th>
                            {{workflowName}}
                            <button class="btn" ng-click="workflow.showSteps = !workflow.showSteps">
                                {{(workflow.showSteps)?'Hide':'Show'}} Steps</button>
                            <button class="btn" ng-click="AddTask(workflowName)">
                                Add New Task
                            </button>
                            <span class="btn pull-right glyphicon glyphicon-trash"
                                 ng-click="Delete(workflowName)"></span>
                    </th></tr>
                    <tr ng-show="workflow.showSteps" ng-repeat="step in workflow.steps"><td>
                            <span ng-hide="workflow.editing == $index">
                                {{$index + 1}}. {{step.name}}
                                &nbsp;<span class="btn glyphicon glyphicon-edit"
                                    ng-click="workflow.editing = $index; newStepName=step.name"></span>
                            </span>
                            <form class="row" ng-show="workflow.editing == $index"
                                ng-submit="step.name = newStepName; workflow.editing = -1">
                                <div class=" col-lg-2">
                                    <input class="form-control" type="text" ng-model="newStepName" autofocus/>
                                </div>
                                <div>
                                    <input class="btn" type="submit" value="Save"/>
                                    <button class="btn" ng-click="workflow.editing = -1">Cancel</button>
                                </div>
                            </form>
                            <span class="btn pull-right glyphicon glyphicon-trash"
                                ng-click="workflow.steps.splice($index, 1)"></span>
                    </td></tr>
                    <tr ng-show="workflow.showSteps"><td>
                        <span ng-hide="workflow.editing == workflow.steps.length"
                            class="btn glyphicon glyphicon-plus"
                            ng-click="workflow.editing = workflow.steps.length; newStepName = 'Step' + (workflow.steps.length + 1).toString()">
                            Add another step
                        </span>
                        <form class="row" ng-show="workflow.editing == workflow.steps.length"
                            ng-submit="workflow.editing=-1;workflow.steps.push({name:newStepName})">
                            <span class=" col-lg-2">
                                <input class="form-control" type="text" ng-model="newStepName" autofocus/>
                                <input class="btn" type="submit" value="Add" />
                                <button class="btn" ng-click="workflow.editing = -1">Cancel</button>
                            </span>
                        </form></td>
                    </td></tr>
                </tbody>
            </table>
            
            
            
            <form class="form-horizontal" ng-submit="AddWorkflow(newWorkflowName)">
                <fieldset>
                    <legend>Add a New Workflow</legend>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="New Workflow" ng-model="newWorkflowName"/>
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit" value="Add"/>
                        </span>
                    </div>
                </fieldset>
            </form>
        </script>
        <script type="text/ng-template" id="/data.html">
            <pre>{{data|json}}</pre>
        </script>
        
        <ul class="nav nav-tabs" ng-controller="navigationController" ng-show="user">
          <li ng-class="(route() === 'TaskList' || route() === 'TaskDetail')?'active':''"><a href="#/tasks">Tasks</a></li>
          <li ng-class="(route() === 'WorkflowList')?'active':''"><a href="#/workflows">Workflows</a></li>
          <li ng-class="(route() === 'AllData')?'active':''"><a href="#/data">All Data</a></li>
          <li ng-class="(route() === 'Login')?'active':''"><a href="#/login">{{ (user)?'Logout':'Login' }}</a></li>
        </ul>
        
        <div ng-view></div>
    </body>
</html>